$bgColor = #00bcd4;
$hederHeigth = .86rem
 .list
  .title
   background :#eee
   height :.4rem
   width :100%
   padding-left :.2rem
   line-height :.44rem
   font-size :.26rem
 .border-topbottom
  &:after
   border-color :#666
  &:before
   border-color :#666
 .button-list
  padding :.1rem
  overflow hidden
  .button-wrap
   float left
   width :33.3%
   .button
    text-align:center
    border:.02rem solid  #666
    margin :.1rem
    padding :.1rem .6rem .1rem .1rem